@font-face {
  font-family: "Tiempos Fine Bold";
  src: url("/fonts/TiemposFine-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quentin";
  src: url("/fonts/Quentin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
